.auth-card {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    box-sizing: border-box;

    background-color: rgb(255, 255, 255);
    color: rgb(85, 82, 100);

    border-radius: 8px;
}

.auth-title {
    margin: 0;
    text-align: center;
}

.auth-switch {
    margin-top: 22px;
}

.register-link {
    color: rgb(150, 52, 199);
}

.errorlist {
    color: rgb(239, 83, 80);
}