.header {
    height: 80px;
    background-color: rgb(38, 28, 20);
    color: white;

    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding: 0 20px;

    position: relative;
    border-radius: 0 0 16px 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.logo {
    color: rgb(255, 140, 50);
    text-decoration: none;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    font-size: 30px;
    font-weight: bold;
}

.logout-button {
    padding: 12px 18px;
    margin-left: 16px;

    border: none;
    border-radius: 8px;

    background-color: rgb(181, 76, 60);
    color: rgb(255, 240, 230);

    cursor: pointer;
}

.profile-link {
    margin-right: 16px;
    margin-left: auto;

    color: rgb(213, 89, 70);
}