{% extends 'base.html'%}

{% load static %}

{% block content %}

<h1>Все ваши категории</h1>
{% for category in category_list %}
    {{ category.name }}
    {% for task in category.get_active_tasks %}
        {{ task.title }},
    {% empty %}
        <p>В этой категории нет активных задач.</p>
    {% endfor %}
    <form method='POST' action="{% url 'tasks:delete_category' category.id %}" novalidate>
        {% csrf_token %}
        <button type=submit>Удалить эту категорию</button>
    </form>
    <a href="{% url 'tasks:update_category' category.id %}">
        Изменить эту категорию
    </a>
{% endfor %}
<p>
<a href="{% url 'tasks:create_category' %}">Создать категорию</a>
</p>

{% endblock content %}