{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">

<div class="auth-card">
    <form method="post" novalidate>
        {% csrf_token %}

        <h2>Авторизация</h2>

        {{ form }}

        <button type="submit">
            Войти
        </button>
    </form>

    <p>
        Нет аккаунта?
        <a href="{% url 'users:register' %}">
            Зарегистрироваться
        </a>
    </p>
</div>

{% endblock content %}