{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="auth-card">
    <form method="post" novalidate class="auth-form">
        {% csrf_token %}

        <h2 class="auth-title">Авторизация</h2>

        {{ form }}

        <button type="submit" class="auth-submit">
            Войти
        </button>
    </form>

    <p class="auth-switch">
        Нет аккаунта?
        <a href="{% url 'users:register' %}" class="register-link">
            Зарегистрироваться
        </a>
    </p>
</div>

{% endblock content %}