{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="auth-card">
    <form method="post" novalidate class="form-layout">
        {% csrf_token %}

        <h2 class="auth-title">Авторизация</h2>

        {% if form.non_field_errors %}
            <div class="form-error">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <div class="form-field">
            <span class="form-label">{{ form.username.label }}</span>
            {{ form.username }}
            {{ form.username.errors }}
        </div>

        <div class="form-field">
            <span class="form-label">{{ form.password.label }}</span>
            {{ form.password }}
            {{ form.password.errors }}
        </div>

        <button type="submit" class="form-submit">
            Войти
        </button>
    </form>

    <p class="auth-switch">
        Нет аккаунта?
        <a href="{% url 'users:register' %}" class="register-link">
            Зарегистрироваться
        </a>
    </p>
</div>

{% endblock content %}