{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/tasks.css' %}">
{% endblock extra_css %}

{% block content %}

<div class='task-card'>

    {% if request.user == user %}
        <a href="{% url 'users:change_password' %}" class='task-select'> Сменить пароль </a>
        <a href="{% url 'users:change_profile' %}" class='task-button'>изменить профиль </a>
    {% endif %}
    <p>Пользователь {{ user.nickname }}</p>

</div>
{% endblock %}