{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">

<div class="auth-card">

    <form method="post" novalidate>
        {% csrf_token %}

        <h2>Регистрация</h2>

        {{ form }}

        <button type="submit">
            Зарегистрироваться
        </button>
    </form>

    <p>
        Уже есть аккаунт?
        <a href="{% url 'users:login' %}">
            Войти
        </a>
    </p>

</div>

{% endblock content %}