{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">

<div class="auth-card">

    <form method="post" class='auth-form' novalidate>
        {% csrf_token %}

        <h2 class='auth-title'>Регистрация</h2>

        {{ form }}

        <button type="submit" class='auth-submit'>
            Зарегистрироваться
        </button>
    </form>

    <p>
        Уже есть аккаунт?
        <a href="{% url 'users:login' %}" class='register-link'>
            Войти
        </a>
    </p>

</div>

{% endblock content %}