{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="auth-card">

    <form method="post" class="form-layout" novalidate>
        {% csrf_token %}

        <h2 class='auth-title'>Регистрация</h2>

        {% if form.non_field_errors %}
            <div class="form-error">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        {% for field in form %}
            <div class="form-field">
                <span class="form-label">{{ field.label }}</span>
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}

        <button type="submit" class="form-submit">
            Зарегистрироваться
        </button>
    </form>

    <p>
        Уже есть аккаунт?
        <a href="{% url 'users:login' %}" class='register-link'>
            Войти
        </a>
    </p>

</div>

{% endblock content %}