{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/tasks.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="task-list-layout">
    <div class="task-list-controls">

        {% if categories %}
            <div class="task-category-filter">
                <span class="task-category-filter-title">Фильтр по категориям</span>

                {% if is_history %}
                    <a href="{% url 'tasks:history' %}" class="task-filter-item {% if not current_category %}task-filter-item-active{% endif %}">
                        Все задачи
                    </a>
                {% else %}
                    <a href="{% url 'tasks:list' %}" class="task-filter-item {% if not current_category %}task-filter-item-active{% endif %}">
                        Все задачи
                    </a>
                {% endif %}

                {% for category in categories %}
                    {% if is_history %}
                        <a href="?category={{ category.id }}" class="task-filter-item {% if current_category and current_category.id == category.id %}task-filter-item-active{% endif %}">
                            {{ category.name }}
                        </a>
                    {% else %}
                        <a href="?category={{ category.id }}" class="task-filter-item {% if current_category and current_category.id == category.id %}task-filter-item-active{% endif %}">
                            {{ category.name }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class='task-card'>
    {% if is_history %}
        <h2>История выполненых задач {% if current_category %}в категории "{{ current_category.name}}"{% endif %}</h2>
    {% else %}
        <h2>Список задач {% if current_category %}в категории "{{ current_category.name}}"{% endif %}</h2>
    {% endif %}

    <ul class="task-list">
        {% for task in task_list %}
            <li class="task-item">
                <div class="task-item-header">
                    <a href="{% url 'tasks:detail' task.pk %}">
                        <h3>{{ task.title }}</h3>
                    </a>
                    {% if task.category %}
                        <a href='?category={{ task.category.id }}' class="task-category">{{ task.category.name }}</a>
                    {% endif %}
                </div>
                <span class="task-status task-status-{{ task.status }}">
                    {{ task.get_status_display }}
                </span>
                <a href="{% url 'tasks:detail' task.pk %}" class='task-description'>
                <p>{{ task.description|default:"Описание не добавлено." }}</p>
                </a>
                {% if is_history %}
                    <p class="task-date task-completed-date task-date-{{ task.status }}">
                        Дата выполнения задачи: {{ task.completed_at }}
                    </p>
                {% else %}
                    <form
                        method="POST"
                        action="{% url 'tasks:change_status' task.pk %}"
                    >
                        {% csrf_token %}
                        <button type="submit" class='task-button'>
                            Задача выполнена
                        </button>

                    </form>

                    <p class="task-date task-deadline">
                        Дэдлайн до: {{ task.deadline }}
                    </p>
                {% endif %}
            </li>
            

        {% empty %}
        <li class='tasks-empty'>У вас пока нет{% if is_history %} выполненных {% endif %} задач</li>
        {% endfor %}
    </ul>

    {% if is_history %}
    <a href="{% url 'tasks:list' %}" class='task-description'>Список задач</a>
    {% else %}
    <a href="{% url 'tasks:create' %}" class='task-create'>Создать задачу</a>
    <a href="{% url 'tasks:history' %}" class='task-description'>История выполненых задач</a>
    {% endif %}
    </div>

</div>

<div class="task-pagination">

    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="pagination-arrow">
            ←
        </a>
    {% endif %}

    {% for page in page_obj.paginator.page_range %}
        {% if page == page_obj.number %}
            <span class="pagination-current">
                {{ page }}
            </span>
        {% else %}
            <a href="?page={{ page }}">
                {{ page }}
            </a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="pagination-arrow">
            →
        </a>
    {% endif %}

</div>

{% endblock content %}