{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/tasks_detail.css' %}">
{% endblock extra_css %}

{% block content %}

<main class="task-detail-card">
    <div class="task-detail-heading">
        <div>
            <span class="task-detail-label">Задача</span>
            <h1>{{ task.title }}</h1>
        </div>

        <div class="task-detail-meta-group">
            <div class="task-detail-status">
                <span class="task-detail-label">Статус</span>
                <h1>{{ task.get_status_display }}</h1>
            </div>
            {% if task.category %}
            <div class="task-detail-category">
                <span class="task-detail-label">Категория</span>
                <h1>{{ task.category.name }}</h1>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="task-detail-description">
        <h2>Описание</h2>
        <p>{{ task.description|default:"Описание не добавлено." }}</p>
    </div>

    <dl class="task-detail-meta">
        <div>
            <dt>Дедлайн</dt>
            <dd>{{ task.deadline }}</dd>
        </div>
        <div>
            <dt>Дата создания</dt>
            <dd>{{ task.created_at }}</dd>
        </div>
    </dl>

    {% if task.status == 'completed' %}
    <div class="task-detail-xp task-detail-take-xp">
        <span class="task-detail-xp-label">Полученный опыт за выполнения задачи вовремя</span>
        <strong class="task-detail-xp-value">
            <span>{{ task.xp_reward }}</span> XP
        </strong>
    </div>
    {% elif task.status == 'failed' %}
    <div class="task-detail-xp task-detail-lost-xp">
        <span class="task-detail-xp-label">Не полученный опыт из за не соблюдение делайна</span>
        <strong class="task-detail-xp-value">
            <span>{{ task.xp_reward }}</span> XP
        </strong>
    </div>
    {% else %}
    <div class="task-detail-xp task-detail-potential-xp">
        <span class="task-detail-xp-label">Возможная награда за выполнение задачи в срок</span>
        <strong class="task-detail-xp-value">
            <span>{{ task.xp_reward }}</span> XP
        </strong>
    </div>
    {% endif %}


    <a href="{% url 'tasks:list' %}" class="task-detail-back">
        <span aria-hidden="true">←</span>
        Назад к задачам
    </a>
</main>

{% endblock %}