{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/tasks.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock extra_css %}

{% block content %}

<div class='task-card'>
    {% if is_history %}
    <h2>История выполненых задач</h2>
    {% else %}
    <h2>Список задач</h2>
    {% endif %}

    <ul class="task-list">
        {% for task in task_list %}
            <li class="task-item">
                <a href="{% url 'tasks:detail' task.pk %}">
                    <h3>{{ task.title }}</h3>
                </a>
                <a href="{% url 'tasks:detail' task.pk %}" class='task-description'>
                <p>{{ task.description|default:"Описание не добавлено." }}</p>
                </a>
                {% if is_history %}
                    <p class="task-date task-completed-date">
                        Дата выполнения задачи: {{ task.completed_at }}
                    </p>
                {% else %}
                    <form
                        method="POST"
                        action="{% url 'tasks:change_status' task.pk %}"
                    >
                        {% csrf_token %}
                        <button type="submit" class='task-button'>
                            Задача выполнена
                        </button>

                    </form>

                    <p class="task-date task-deadline">
                        Дэдлайн до: {{ task.deadline }}
                    </p>
                {% endif %}
            </li>
            

        {% empty %}
        <li class='tasks-empty'>У вас пока нет{% if is_history %} выполненных {% endif %} задач</li>
        {% endfor %}
    </ul>

    {% if is_history %}
    <a href="{% url 'tasks:list' %}" class='task-description'>Список задач</a>
    {% else %}
    <a href="{% url 'tasks:create' %}" class='task-create'>Создать задачу</a>
    <a href="{% url 'tasks:history' %}" class='task-description'>История выполненых задач</a>
    {% endif %}
</div>


<div class="task-pagination">

    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="pagination-arrow">
            ←
        </a>
    {% endif %}

    {% for page in page_obj.paginator.page_range %}
        {% if page == page_obj.number %}
            <span class="pagination-current">
                {{ page }}
            </span>
        {% else %}
            <a href="?page={{ page }}">
                {{ page }}
            </a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="pagination-arrow">
            →
        </a>
    {% endif %}

</div>

{% endblock content %}